body {
    background-color: #0b0a0a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.titelText h2{
    text-align: left;
    margin-left: 40px;  
    padding: 1%;
    color:white;
}
.titelText {
    background-color: #0b0a0a;
    margin-bottom: -20px;
    margin-top: -20px;
    margin-left: -8px;

}
.navigationBar ul {
    list-style-type: none;
    margin-left: -20px;
    margin-right: -8px;
    overflow: hidden;
    background-color: #333;

}
.navigationBar li {
    float: left;
    margin-left: 18px;
}
.navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: -10px;
}
.navigationBar li a:hover {
    background-color: #111;
}

.active {
    background-color: #466E8A;
}


.whoIsHe {
    margin-top: -16px;
    margin-left: -20px;
    margin-right: -8px;
    text-align: center;
    height: 525px;

    background-color: #CAECEB;
}
.whoIsHeText {
    text-align: center;
    color: #111;
    margin-top: 45px;
    display: block;
}
.whoIsHe img {
    border-radius: 50%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.history {
    text-align: center;
    height: 600px;
}
.historyHeader1 {
    color: white;
    margin-top: 100px;
}
.historyHeader2 {
    color: white;
    margin-top: 100px;
}
.history p {
    color: white;
    margin-top: 40px;
    text-align: center;
    
}
.kendrickYoung {
    border-radius: 10%;
    margin-top: 50px;
}
.kendrickPerformance {
    border-radius: 10%;
    margin-top: 50px;
}
.kendrickdiscography {
    margin-left: -9px;
    margin-right: -8px;
    margin-top: 125px;
    height: 525px;
    background-color: #272727;

}
.discographyHeader1 {
    color: white;
    padding-top: 100px;
    text-align: center;

}
.albumList {
    text-align: left;
    padding-left: 400px;
}
.section80 {
    
}
.maadcity {
    
}